body {
  font-family: Oswald, lucida, sans-serif;
  background-color: grey;
}

#queryArea {
  font-family: Oswald, lucida, sans-serif;
  border-radius: 25px;
  border-style: solid;
  border: 2px, 2px, 2px, 2px;
  border-color: white;
  color: white;
  width: 50vw;
  height: 1000vh;
  background-color: #007777;
  margin-left: 27%;
  padding-top: .25%;
}

#buttonArea {
  font-family: Oswald, lucida, sans-serif;
  border-radius: 25px;
  border-style: solid;
  border: 2px, 2px, 2px, 2px, white;
  background-color: orange;
  padding-left: 40%
  padding-top: 25%;
  padding-bottom: 25%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#headerArea {
  font-family: Oswald, lucida, sans-serif;
  margin-bottom: 1%;
  color: white;
  border-radius: 25px;
  margin-left: 40%;
  background-color: #007777;
  margin-left: 27%;
  width: 50vw;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: white;
  margin-bottom:
}

h1 {
  font-family: Oswald, lucida, sans-serif;
  margin-left: 32%;;
}

#queryButton {
  font-family: Oswald, lucida, sans-serif;
  border-radius: 10px;
  background-color: #771100;
  color: white;
  font: lucida;
  margin-left: 10px;
  margin-top: 25px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 5%, 5%, 5%, 5%;
  border-style: solid;
  border-color: white;
  font-size: 90%;
}

#queryButton:hover {
  background-color: grey;
  border-color: black;
  color: black;
}

#secondArea {
  font-family: Oswald, lucida, sans-serif;
  border-radius: 25px;
  border-style: solid;
  border: 2px, 2px, 2px, 2px, white;
  background-color: orange;
  padding-left: 40%
  padding-top: 25%;
  padding-bottom: 25%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%
}

#textBackground {
  background-image: url( "../images/Space-image.jpg" );
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  padding-bottom: 1%;
}

.p {
  margin-left: 2%;
  margin-right: 2%;
  color: yellow;
}

.aitchThree {
  color: #0044BB;
  margin-left: 15%;
}
